:root.theme-dark {
  --bg-color: var(--dark-blue);
  --accent-color: var(--retro-pink);
  --accent-color-rgb: var(--retro-pink-rgb);
  --text-color: var(--pink);
  --border-color: var(--accent-color);
  --background: url(../images/cover-image-dark.png);
}
