/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background: var(--background);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  line-height: var(--line-height);
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 56px;
  height: 100vh;
  padding: 10px;
  margin-block-end: 40px;
}

.decorated-zone::before {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  content: '';
  width: 26px;
  height: 26px;
  padding-right: 26px;
  border-top: var(--border);
  border-right: var(--border);
}

.decorated-zone::after {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  content: '';
  width: 26px;
  height: 26px;
  border-bottom: var(--border);
  border-left: var(--border);
}

.header__label {
  position: absolute;
  top: 12px;
  right: 38px;
  color: var(--accent-color);
}

.header__label::after {
  position: absolute;
  top: 6px;
  right: -18px;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: 0px 0px 2px 2px var(--accent-color);
}

.header__theme-menu {
  grid-column: 1;
  grid-row: 1 / 2;
  justify-self: end;
  align-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 66px 0 10px 0;
  gap: 10px;
}

.header__theme-menu-button {
  text-transform: lowercase;
  padding: 0 12px;
  background: none;
  border: 1px solid transparent;
  color: var(--accent-color);
}
.header__theme-menu-button:hover{
  border-color:rgba(var( --accent-color-rgb) , 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom:  1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  box-sizing : content-box;
  border: 1px solid var(--accent-color);
}

.cover {
  display: grid;
  grid-auto-rows: min-content;
  grid-column: 1;
  grid-row: 2 / 4;
  row-gap: 56px;
}

.cover:last-child {
  margin-block-end: 56px;
}

.cover__title {
  grid-column: 1;
  grid-row: 1;
  color: var(--purple);
  font-size: var(--h1-size);
  line-height: 82.5%;
  justify-self: start;
}

.text-shadow {
  text-shadow: var(--text-shadow);
}

.text-shadow-little {
  text-shadow: var(--text-shadow-little);
}

.cover__description {
  grid-column: 1;
  grid-row: 2;
}

.title-decoration {
  background-color: var(--accent-color);
  color: var(--dark-blue);
}

.text-bold {
  font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 10px;
}

.content__section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 20px;
  width: 100%;
}

.section__title {
  color: var(--accent-color);
  font-size: var(--font-size);
}

.text-blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-block {
  
}

.text-block__title {
  font-size: var(--font-size);
  margin-block-end: 10px;
}

.text {

}

.link {
  position: relative;
  text-shadow: var(--text-shadow-little);
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.link:hover::after {
  background-color: var(--pink);
}

.link:focus {
  appearance: none;
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--pink);
  outline-offset: 1px;
  border-radius: 0;
}

.list-title {
  font-size: var(--font-size);
}

.list {
    
}

.list__item:not(:last-child) {
  margin-block-end: 20px;
}

.list__item-text {
  margin-block-end: 10px;
}

.list__item-desctiption {
    
}

.content__section-gallery {
  margin-block-end: 40px;
  row-gap: 10px;
}

.pinterest-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  width: 100%;
  row-gap: 10px;
}

.pinterest-grid__image {
  grid-column: 1;
  object-fit: cover;
  width: 100%;
}

.pinterest-grid__image:nth-child(1) {
  grid-row: 1 / 2;
  height: 142px;
}

.pinterest-grid__image:nth-child(2) {
  grid-row: 2 / 3;
  height: 356px;
}

.pinterest-grid__image:nth-child(3) {
  grid-row: 3 / 4;
  height: 238px;
}

.pinterest-grid__image:nth-child(4) {
  grid-row: 4 / 5;
  height: 356px;
}

.pinterest-grid__image:nth-child(5) {
  grid-row: 5 / 6;
  height: 238px;
}

.footer {
  position: relative;
  height: 100vh;
}

.footer__cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (375px <= width < 768px) {
  .cover__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (375px < width <= 768px) {
  .decorated-zone::before {
    top: var(--offset-10-to-20);
    right: var(--offset-10-to-20);
  }
  
  .decorated-zone::after {
    bottom: var(--offset-10-to-20);
    left: var(--offset-10-to-20);
  }

  .header__label {
    top: calc(var(--offset-10-to-20) + 2px);
    right: calc(var(--offset-10-to-20) + 26px);
  }

  .header {
    row-gap: var(--offset-56-to-162);
    padding-right: calc(var(--offset-10-to-20));
  }

  .content {
    padding-left: 0;
    padding-right: 20px;
  }

  .cover {
    row-gap: var(--offset-56-to-162);
  }

  .header__theme-menu-list {
    padding-top: calc(var(--offset-56-to-162) + var(--offset-0-to-10) * 2);
  }
}

@media (768px <= width < 1024px) {
  .header {
    padding-left: 0;
    margin-block-end: 60px;
  }

  .cover {
    grid-template-columns: 1fr 1fr;
  }

  .cover__title {
    grid-column: 1 / span 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .cover__description {
    grid-column: 2 / 3;
    margin-inline-start: 10px;
  }

  .content {
    gap: 80px;
    padding-right: 40px;
  }

  .content__section:nth-child(1),
  .content__section:nth-child(2),
  .content__section:nth-child(3) {
    grid-template-columns: minmax(236px, min-content) minmax(472px, auto);
    column-gap: 20px;
  }

  .content__section:nth-child(1) .section__title {
    grid-column: 1;
  }

  .content__section:nth-child(1) .text-blocks {
    grid-column: 2;
  }

  .content__section:nth-child(2) .section__title {
    grid-column: 1 / 2;
  }

  .content__section:nth-child(2) .text-blocks {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }

  .text {
    word-break:break-all;
  }
}

@media (1024px <= width) {
  .header {
    row-gap: var(--offset-56-to-162);
    padding: 20px;
  }

  .cover__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}