:root {
  --purple: #db00ff;
  --pink: #f1b2ce;
  --retro-pink: #ff0070;
  --retro-pink-rgb: 255, 0, 112;
  --lavender-blush:#fff1f7;
  --dark-blue: #000028;
  --pink-sakura: #ffc2e6;
  --very-light-pink: #ff8dcb;
  --very-light-pink-rgb: 255, 141, 203;
  --dark-gray: #353430;
  --dark-gray-rgb: 53, 52, 48;

  --large-font-size: 116px;
  --main-font-family: 'IBM Plex mono', monospace, sans-serif;
  --font-size: 18px;
  --line-height: 23.4px;
  --accent-color: var(--retro-pink);
  --accent-color-rgb: var(--retro-pink-rgb);
  --text-shadow: 4px 4px 0 var(--accent-color);
  --text-shadow-little: 2px 2px 0 var(--accent-color);
  --text-color: var(--pink);
  --border-color: var(--accent-color);
  --border: 1px solid var(--border-color);
  --background: url(../images/cover-image-dark.png);
  --bg-color: var(--dark-blue);


  /* todo убрать эти переменные */
  --offset-56-to-162: clamp(3.5rem, -2.8216rem + 26.972vw, 10.125rem);
  --offset-10-to-20: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --offset-0-to-10: clamp(0.625rem, 2.5rem + -3.9063vw, 0rem);
}
