:root {
  --purple: #db00ff;
  --pink: #f1b2ce;
  --retro-pink: #ff0070;
  --retro-pink-rgb: 255, 0, 112;
  --lavender-blush:#fff1f7;
  --dark-blue: #000028;
  --pink-sakura: #ffc2e6;
  --very-light-pink: #ff8dcb;
  --very-light-pink-rgb: 255, 141, 203;
  --dark-gray: #353430;
  --dark-gray-rgb: 53, 52, 48;

  --large-font-size: 116px;
  --main-font-family: 'IBM Plex mono', monospace, sans-serif;
  --font-size: 18px;
  --line-height: 23.4px;
  --accent-color: var(--retro-pink);
  --accent-color-rgb: var(--retro-pink-rgb);
  
  --text-shadow: 4px 4px 0 var(--accent-color);
  --text-shadow-little: 2px 2px 0 var(--accent-color);
  --text-color: var(--pink);
  --title-color: var(--purple);
  --title-decoration-color: var(--dark-blue);
  --title-section-color: var(--retro-pink);
  --btn-text-color: var(--retro-pink);

  --box-shadow: 0px 0px 2px 2px var(--accent-color);
  --border-color: var(--accent-color);
  --border: 1px solid var(--border-color);
  --border-color-rgb: rgba(var(--accent-color-rgb) , 0.4);

  --background: url(../images/cover-image-dark.png);

  --link-bg-color: var(--pink);
  --link-border-color: var(--pink);
  --link-outline-color: var(--pink);
  --link-outline: 1px solid var(--link-outline-color);
}
